src/Sponge.Client/Web References/ConfigServiceReference/COnfigService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Sponge.WebService.ConfigService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Sponge.WebService.ConfigService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Sponge.WebService.ConfigService">
      <s:element name="GetCentral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCentralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Configuration" nillable="true" type="tns:Configuration" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Configuration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConfigurationItems" type="tns:ArrayOfItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpongeUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOnline" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationItem" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRelative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spongeUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Configuration" nillable="true" type="tns:Configuration" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCentralSoapIn">
    <wsdl:part name="parameters" element="tns:GetCentral" />
  </wsdl:message>
  <wsdl:message name="GetCentralSoapOut">
    <wsdl:part name="parameters" element="tns:GetCentralResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelative" />
  </wsdl:message>
  <wsdl:message name="GetRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelativeResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigServiceSoap">
    <wsdl:operation name="GetCentral">
      <wsdl:input message="tns:GetCentralSoapIn" />
      <wsdl:output message="tns:GetCentralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <wsdl:input message="tns:GetRelativeSoapIn" />
      <wsdl:output message="tns:GetRelativeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigServiceSoap" type="tns:ConfigServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCentral">
      <soap:operation soapAction="http://Sponge.WebService.ConfigService/GetCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <soap:operation soapAction="http://Sponge.WebService.ConfigService/GetRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigServiceSoap12" type="tns:ConfigServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCentral">
      <soap12:operation soapAction="http://Sponge.WebService.ConfigService/GetCentral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <soap12:operation soapAction="http://Sponge.WebService.ConfigService/GetRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigService">
    <wsdl:port name="ConfigServiceSoap" binding="tns:ConfigServiceSoap">
      <soap:address location="http://demo/_layouts/Sponge/COnfigService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigServiceSoap12" binding="tns:ConfigServiceSoap12">
      <soap12:address location="http://demo/_layouts/Sponge/COnfigService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>